/* === GLOBAL STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}

/* Layout */
.dashboard {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 16rem;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 100vh;

}
#Bulogos{
  width: 4rem;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
}
.menu {
  list-style: none;
}
.menu li {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu li i {
  margin-right: 10px;
  font-size: 16px;
}
/* Main Content */
.main-content {
  width: 100%;
  flex: 1;
  padding: 20px;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  margin-bottom: 25px;
}
.header input {
  width: 40%;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile i {
  font-size: 18px;
  cursor: pointer;
}
.profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.profile .name {
  font-weight: 600;
  font-size: 14px;
}
.profile .role {
  font-size: 12px;

}




/* Users Section */
.users {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.527);
}
.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users-header h2 {
  margin: 0;
}
.actions button {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.filters {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.filters .left,
.filters .right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filters select,
.filters input {
  padding: 6px 8px;
  border-radius: 6px;
}
/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px 12px;
  text-align: left;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info img {
  border-radius: 50%;
}
.user-name {
  font-weight: 500;
}
.user-email {
  font-size: 12px;
}
.status {
  font-weight: 600;
}
.actions-cell i {
  margin-right: 10px;
  cursor: pointer;
}
/* Pagination */
.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages button {
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 4px;
  cursor: pointer;
}

