/* === GLOBAL STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}
/* Layout */
.dashboard {
  width: 100%;
  display: flex;
  min-height: 100vh;
}


/* === SIDEBAR === */
.sidebar {
  width: 16rem;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 100vh;
}
#Bulogos{
  width: 4rem;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
}
.menu {
  list-style: none;
}
.menu li {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu li i {
  margin-right: 10px;
  font-size: 16px;
}
/* === MAIN CONTENT === */
.main-content {
  width: 100%;
  padding: 20px 30px;
  
  display: flex;
  flex-direction: column;
}

/* === HEADER === */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  margin-bottom: 25px;
}
.header input {
  width: 40%;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile i {
  font-size: 18px;
  cursor: pointer;
}
.profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.profile .name {
  font-weight: 600;
  font-size: 14px;
}
.profile .role {
  font-size: 12px;
}
/* === DASHBOARD SECTION === */
.users{
  padding: 1rem;
  border-radius: 1rem;
}
.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.users-header h2 {
  font-size: 22px;
}
.users-header p {
  font-size: 13px;
  margin-top: 5px;
}








/* === FILES PAGE === */
.upload-area {
  background-color: #f9fafb;
  border: 2px dashed #dcdde1;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  margin: 20px 0;
  color: #7f8c8d;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-area:hover {
  background-color: #eef6ff;
  border-color: #3498db;
}

.upload-area i {
  font-size: 40px;
  color: #3498db;
  margin-bottom: 10px;
}

.upload-area p {
  font-size: 15px;
  color: #555;
}

.upload-area input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.table-section table td i {
  margin-right: 6px;
  color: #2c3e50;
}

.actions i {
  margin: 0 6px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.actions i:hover {
  color: #3498db;
}
