* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Nav-Container{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.Nav-Container i{
  font-size: 1.5rem;
}
#Main-logo{
  width: 10rem;
}
.hero {
  padding: 3rem 0;
  text-align: center;
}
.hero h2 {
  font-size: 2.5rem;
}
.hero p {
  margin-top: 0.5rem;
}

/* Term Block Section */
.Term-Block {
  padding: 2rem 1.5rem;
  max-width: 800px;
  margin: 2rem auto;
  font-size: 0.9rem;
  line-height: 1.6;
  border-radius: 1rem;
}

.Term-Block h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.Term-Block p {
  margin-bottom: 1rem;
  color: #444;
}

.Term-Block ul {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

.Term-Block ul li {
  margin-bottom: 0.8rem;
  list-style-type: disc;
}

.Term-Block ul li span {
  font-weight: 600;
  color: #000;
  display: block;
  margin-bottom: 0.2rem;
}

.Term-Block a {
  color: #007bff;
  text-decoration: none;
}

.Term-Block a:hover {
  text-decoration: underline;
}




/* Footer */
#footer {
  display: flex;
  font-size: .6rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}