body {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.Nav-Container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 2rem;
}
#Main-logo{
  width: 10rem;
}
.nav-links{
  display: flex;
  gap: 2rem;
  margin: 1rem 0 0 0;
}
.main-nav-links{
  gap: 1rem;
  display: flex;
}
.nav-link{
  font-size: 1.1rem;
  text-decoration: none;
}
.ANLB{
  border-radius: .5rem;
  padding: .2rem 1rem;
  text-decoration: none;
}
#startBtn{
  border-radius: .5rem;
  padding: .3rem 1rem;
  text-decoration: none;
}

.container {    
  margin: auto;
  text-align: center;   
}
.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 18px;
      color: #64748b;
  margin-bottom: 40px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  border-radius: 12px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card h3 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.price {
  font-size: 30px;
  margin: 10px 0;
}
.custom-list {
  list-style: none;
  padding-left: 1.5em;
}
.custom-list li {
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 0.5em;
}
.custom-list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #22c55e; /* Green checkmark */
  font-weight: bold;
}
.btn {
  background-color: transparent;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}



footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}