* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  gap: 1rem;
}
#exit-link{
  border-radius: .5rem;
  padding: .4rem 1rem;
}
#Bulogos,
#header-logo {
  width: 10rem;
  max-width: 100%;
}
main{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tittle-block{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tittle-block img{
  margin: 1.5rem 0;
}
.tittle-block h2{
  margin: .4rem 0;
}

.Questions {
  width: 50rem;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}
.Question {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.Question label {
  font-weight: 600;
}
.Question input,
.Question select {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: border 0.2s ease;
}
#imagen{
  border: none;
}
#Save-Btn{
  width: 15rem;
  margin: 1.5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  font-weight: bolder;
}