* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Nav-Container{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.Nav-Container i{
  font-size: 1.5rem;
}
#Main-logo{
  width: 10rem;
}
/* Hero Section */
.hero {
  padding: 3rem 0;
  text-align: center;
}
.hero h2 {
  font-size: 2.5rem;
}
.hero p {
  margin-top: 0.5rem;
}





/* Content */
.terms-section {
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.486);
}
.terms-section h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.terms-section p {
  margin-bottom: 1rem;
}
.terms-section a {
  text-decoration: underline;
}







/* Footer */
#footer {
  display: flex;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
}